/* Custom Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400;500;600;700&display=swap");
.bangers {
  font-family: "Bangers", cursive;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
/* Component Styles */
.animatedBall img {
  position: absolute;
  top: -71%;
  left: -8%;
  width: 50vw;
  animation: rotate 30s linear infinite;
  transform-origin: 50% 50%;
  opacity: 0.4;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.canDisable:disabled {
  background-color: #333;
}
hr.simple-hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #333, #ccc, #333);
}
.ul-list {
  line-height: 40px;
}
.sidebar::after {
  position: absolute;
  top: 25px;
  left: -5px;
  content: " ";
  background: url("../assets/images/before.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 2px;
  float: left;
}
